<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <link rel="stylesheet" href="Style.css">
</head>
<body>
    <br>
    <center>
    <div class="edit-head" style="display: flex; padding: 0; justify-content: space-between; width: 80%;">
        <h1>Edit Movie</h1>  
    
   <button style="height: 50px; background-color: red;border-radius: 10px;  margin-left: 4%;
   border: none; width: 100px;"> <a style="color: white; font-weight: 800px;" href="/">Cencle</a></button>
    </div>
    <br><br>
    <form action="/updateData"   enctype="multipart/form-data" method="post">
        <input type="text" hidden value="<%=data.id%>" name="id">
        <input class="input_fail" type="file" name="image" required><br>
       <img src="<%=data.image%>"  alt=""  width="55px"><br>   
       <input type="text" name="name" placeholder="Enter Movie name" value="<%=data.name %>" required><br>
       <input type="text" name="type" placeholder="Enter Movie type" value="<%=data.type %>" required><br>
      <!-- <input type="file" name="poster" required><br> 
        <img src=""  alt=""  width="55px"><br>  -->
        <input type="number" name="rate" placeholder="Enter rate" value="<%=data.rate%>" required><br>
       <input type="number" name="votes" placeholder="Enter How many people vote" value="<%=data.votes%>" required><br>
       <input type="text" name="language" placeholder="Enter Language" value="<%=data.language%>" required><br>
       <input type="time" name="time" placeholder="Enter Time" value="<%=data.time%>" required><br>
       <input type="text" name="category" placeholder="eg.UA,U,A "  value="<%=data.category%>" required><br>
       <input type="date" name="date" required value="<%=data.date%>"> 
       
       <button type="submit">Update Movie</button>
   </form>
</center>

</body>
</html>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>